<!--
If you want to include any custom html just before </body>, put it in this file.
Or you can delete these file if you don't need it.
-->
<!-- for example, you could include some js libraries:
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.js" integrity="sha256-HdIuWBZj4eftihsoDCJoMYjZi6aNVaw7YlUpzKT3ZxI=" crossorigin="anonymous"></script>
-->
{{ if and site.DisqusShortname (not (eq .Params.comments false)) }}
  <div id="disqus_thread"></div>
  <script>
    const disqusShortname = '{{ site.DisqusShortname }}';
    const script = document.createElement('script');
    script.src = 'https://' + disqusShortname + '.disqus.com/embed.js';
    script.setAttribute('data-timestamp', +new Date());
    document.head.appendChild(script);
  </script>
{{ end }}
{{ if .Site.Params.Coral }}
<div id="coral_thread"></div>
<script type="text/javascript">
  (function() {
    if (window.location.hostname == "localhost")
      return;
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ .Site.Params.CoralHost }}/assets/js/embed.js';
    s.async = false;
    s.defer = true;
    s.onload = function() {
        Coral.createStreamEmbed({
            id: "coral_thread",
            autoRender: true,
            rootURL: 'https://{{ .Site.Params.CoralHost }}',
            // Uncomment these lines and replace with the ID of the
            // story's ID and URL from your CMS to provide the
            // tightest integration. Refer to our documentation at
            // https://docs.coralproject.net for all the configuration
            // options.
            // storyID: '${storyID}',
            // storyURL: '${storyURL}',
        });
    };
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the comments powered by <a href="https://coralproject.net/">Coral</a>.</noscript>
{{ end }}
{{ if .Site.Params.Coommento }}
<div id="commento"></div>
<script type="text/javascript">
  (function() {
    // Don't ever inject Commento on localhost--it creates unwanted
    // discussions from 'localhost:1313' on your Commanto account...
    if (window.location.hostname == "localhost")
      return;

    var dsq = document.createElement('script'); dsq.async = true; dsq.type = 'text/javascript';
    dsq.src = 'https://{{ .Site.Params.CommentoHost }}/js/commento.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the comments powered by <a href="https://commento.io/">Commento</a>.</noscript>
{{ end }}
{{ if .Site.Params.Remark42 }}
<div id="remark42"></div>
<script type="text/javascript">
  var remark_config = {
    host: "https://{{ .Site.Params.Remark42Host }}", // hostname of remark server, same as REMARK_URL in backend config
    site_id: '{{ $.Site.Params.Remark42ID }}',
    components: ['embed'], // optional param; which components to load. default to ["embed"]
                          // to load all components define components as ['embed', 'last-comments', 'counter']
                          // available component are:
                          //     - 'embed': basic comments widget
                          //     - 'last-comments': last comments widget, see `Last Comments` section below
                          //     - 'counter': counter widget, see `Counter` section below
  };
  !function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);
</script>
<noscript>Please enable JavaScript to view the comments powered by <a href="https://remark42.com/">Remark42</a>.</noscript>
{{ end }}
