[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://github.com/mzch/hugo-clarity.git
[submodule "themes/engimo"]
	path = themes/engimo
	url = https://github.com/achary/engimo.git
[submodule "themes/hugo-theme-hello-friend"]
	path = themes/hugo-theme-hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/ugo-bootstrap-premium"]
	path = themes/ugo-bootstrap-premium
	url = https://github.com/mzch/hugo-bootstrap-premium.git
[submodule "themes/DoIt"]
	path = themes/DoIt
	url = https://github.com/HEIGE-PCloud/DoIt.git
[submodule "themes/hugo-bootstrap-premium"]
	path = themes/hugo-bootstrap-premium
	url = https://github.com/mzch/hugo-bootstrap-premium.git
[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper.git
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
