{{ with .Site.Params.EasyCommentlHostname }}
<!-- easyComment Content Div -->
<div id="easyComment_Content"></div>

<!-- easyComment -->
<script type="text/javascript">
    /* var easyComment_Theme = 'Blog'; */
    /* * * DON'T EDIT BELOW THIS LINE * * */
    var easyComment_Domain = "https://{{ .}}";
    (function() {
        var EC = document.createElement('script');
        EC.type = 'text/javascript';
        EC.async = true;
        EC.src =  easyComment_Domain + '/plugin/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(EC);
    })();
</script>
<noscript>Please enable JavaScript to view the comments powered by Easy Comment.</noscript>
{{ end }}
